/* src/RepoList.module.css */

.repoList {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
  }
  
  .repoList h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
  }
  
  .repoList .intro {
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
  }
  
  .repoList a {
    color: #0366d6;
  }
  
  .repoList a:hover {
    text-decoration: underline;
    color: #1d0215;
    font-weight: bold;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    background-color: #f2f2f2;
    color: #111826;
    border: none;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .pagination button:hover {
    background-color: #4e90e0;
    border: 2px black;
  }